.jumbotron {
  background-color: #456F74;
  color: #FFF;
  padding: 20px;
    background-image: url("../img/pizzaSlice.png");
    opacity: 0.6;
}

span .pizza-icon {
  background-image: url("../img/pizzaSlice.png");
}

.jumbotron h1 {
    font-size: 95px;
    font-style: italic;
}
.rules p {
  font-family: monospace;
  color: #fff;
}

.btn {
  margin-top: 10px;
}

body {
  background-color: #EB5937;
  background: url(../img/galaxy.jpg);
  color: #FFF;
}

.ingredient-box {
  background-color: #D3CBBD;
  height: 200px;
}

.pizza-cat {
  display: none;
}

h3 {
  font-style: italic;
}
