body {
  background-color: #EB5937;
  background: url(../img/galaxy.jpg);
  color: #FFF;
}

.jumbotron {
  color: #FFF;
  padding: 20px;
  opacity: 0.2;
}

.pizza-icon {
  height: 100px;
}

.jumbotron h1 {
    font-size: 95px;
    font-style: italic;
    color: black;
}
.rules p {
  font-family: monospace;
  color: #fff;
}

.btn {
  margin-top: 10px;
}

.hidden-receipt {
  display: none;
}

.ingredient-box {
  background-color: #D3CBBD;
  color: #000;
  font-size: 16px;
  height: 200px;
  opacity: 0.6;
}

.pizza-cat {
  display: none;
}

h3 {
  font-style: italic;
}
